.item-cards {
  width: 70%;
  margin: auto;
  margin-top: 40px;
}

.index-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

@media (max-width: 500px) {
  .item-cards {
    width: 90vw;
    padding: 0px;
    margin-top: 20px;
  }
  .index-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8ch, auto));
    column-gap: 1rem;
    margin-right: 20px;
  }
}
