.item-cards {
<<<<<<< HEAD
  width: 84%;
  padding: 50px;
  margin: auto;
}

.cards {
  display: grid;
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  justify-content: center;
  margin: auto;
}

@media (max-width: 500px) {
  .item-cards {
      width: 90vw;
      padding: 20px;
      margin: 0px;
  }
  .cards {
      margin: 0 -20px;
  }
}
=======

}
.cards {
  
}
>>>>>>> 2080a80c637abba862d0bd2b02962eb7234b6e20
