.item {
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  box-shadow: 0px 0px 3px 1px #CECECE;
  transition: 250ms all;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 30px;
  text-decoration: none !important;
}

.item:hover {
  transform: scale(1.02);
  opacity: .9;
}

.item-image {
  width: 140px;
}

.item-name {
  font-size: 14px;
  padding: 10px;
  color: black;
  text-transform: capitalize;
  font-family: 'Catamaran', sans-serif;
  font-weight: 100;
  text-align: center;
}

@media (max-width: 500px) {
  .item {
      width: 100%;
      margin-bottom: 20px;
  }
  .item-image {
      width: 180px;
      margin: 15px;
      padding: 10px;
  }
=======

}
.item-image {

}
.item-category {

}
.item-color {

}
.item-season {

}
.item-notes {
  
>>>>>>> 2080a80c637abba862d0bd2b02962eb7234b6e20
}