.nav {
  font-size: 20px;
  box-shadow: 0px 0px 3px 2px #6AA6A3;
  display: flex;
  align-items: center;
  padding: 20px;
}

.logo {
  font-family: 'Poiret One', cursive;
  font-size: 48px;
  text-decoration: none !important;
  color: black;
  margin-left: 44%;
}

.links {
  display: flex;
  margin-left: auto;
  padding-right: 30px;
}

.link, .link-welcome {
  text-decoration: none;
  color: black;
  padding-right: 20px ;
  font-family: 'Catamaran', sans-serif;
  font-weight: 100;
  font-size: 18px;
}

.link-welcome {
  padding-right: 60px;
}

.link-welcome:hover {
  text-decoration: underline;
  text-decoration-color: #6AA6A3;
}