.nav {
  box-shadow: 0px 0px 3px 2px #6AA6A3;
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100vw;
}

.logo {
  font-family: 'Poiret One', "cursive";
  font-size: 48px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin-left: 42%;
}

.logo:hover,
.link:hover {
  text-decoration-color: #6AA6A3;
  color: black;
}

.links {
  display: flex;
  margin-left: auto;
  padding-right: 30px;
}

.link, .link-welcome {
  text-decoration: none;
  color: black;
  padding-right: 20px ;
  font-family: 'Catamaran', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.link-welcome {
  padding-right: 60px;
  text-transform: capitalize;
}

.link-welcome:hover {
  text-decoration: underline;
  text-decoration-color: #6AA6A3;
  color: black;
}

@media (max-width: 500px) {
  .nav {
    width: 100vw;
  }
  .logo {
    font-size: 8vw;
    text-decoration: none;
    color: black;
    margin-left: 30%;
  }
  .links {
    margin: auto;
    padding-right: 0px;
  }
  .link, .link-welcome {
    font-weight: 100;
    font-size: 3vw;
  }
  .link-welcome {
    padding-right: 20px;
  }
}