.item-create {
  display: grid;
  margin: 0% 20% 5% 15%;
  max-height: 62vh;
  align-content: space-around;
  width: 70%;
  font-family: "Catamaran", sans-serif;
}
.form-create {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin: 6% 20% 2% 15%;
}
.item-container-create {
  margin-left: 0px;
}
.name-container-create,
.category-container-create,
.season-container-create,
.color-container-create,
.image-container-create {
  min-height: 5vh;
}
.name-create,
.category-create,
.season-create,
.color-create,
.image-create,
.notes-create {
  font-weight: 600;
}
.name-input-create,
.category-input-create,
.season-input-create,
.color-input-create,
.image-link-create {
  font-family: Catamaran;
  width: 20vw;
}
.notes-container-create {
  min-width: 290px;
  margin-left: 20%;
  /* grid-row: span 6 / auto; */
}
.textarea-create-notes {
  height: 90%;
  word-wrap: break-word;
  inline-size: 170px;
  overflow-wrap: break-word;
  width: 100%;
}
.save-button {
  padding: 10px;
  color: white;
  background-color: black;
  margin: 0;
  /* width: 100px; */
  border-radius: 15px;
  text-align: center;
  margin-top: 22%;
  font-size: 14px;
  padding: 0.4rem 67px;
}
.button-container-create {
  grid-column: span 2 / auto;
  margin: auto;
}
.button-container-create a:visited,
.button-container-create a:hover,
.button-container-create a,
.button-container-create a:active {
  text-decoration: none;
}
@media (max-width: 500px) {
  .notes-container-create  {
    width: 170px;
  }
  .item-create {
    width: 100%;
  }
  .item-container-create {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    /* min-height: 74vh; */
    justify-content: center;
    align-content: stretch;
  }
  .name-container,
  .category-container,
  .season-container,
  .color-container {
    display: grid;
    min-height: 5vh;
    max-width: 70vw;
    margin-left: 12%;
  }
  .button-create {
    padding: 0.2rem 45px;
    margin-top: 3%;
    margin-left: 11%;
  }
  .save-button {
    padding: 0.2rem 45px;
    margin: 0;
    border: 1px solid saddlebrown;
  }
}
