.item-create {
  display: grid;
  width: 70%;
  align-items: stretch;
  justify-content: center;
  max-height: 62vh;
  margin: 4% 20% 4% 15%;
}
.form-create {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  column-gap: 50px;
}
.item-container-create {
  justify-self: end;
  font-family: "Catamaran", sans-serif;
  font-size: 15px;
}
.name-container-create,
.category-container-create,
.season-container-create,
.color-container-create,
.image-container-create {
  min-height: 5vh;
}
.name-create,
.category-create,
.season-create,
.color-create,
.image-create {
  font-weight: 600;
}
.name-input-create,
.category-input-create,
.season-input-create,
.color-input-create,
.image-link-create {
  min-width: 15vw;
  width: 210px;
  border: 1px lightgrey solid;
  background-color: white;
  margin-bottom: 10px;
  min-height: 5vh;
}
.category-input-create{
  color: grey;
}
.notes-container-create {
  align-items: stretch;
  min-width: 290px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 97%;
}
.notes-create {
  font-weight: 600;
}
.textarea-notes-create {
  word-wrap: break-word;
  overflow-wrap: break-word;
  height: 100%;
  justify-self: stretch;
  width: 75%;
  border: 1px lightgrey solid;
}
.button-container-create {
  grid-column: span 2 / auto;
  margin: auto;
}
.save-button {
  margin: 8px;
  color: white;
  background-color: black;
  border-radius: 15px;
  text-align: center;
  font-size: 14px;
  padding: 0.2rem 64px;
  font-family: "Catamaran", sans-serif;
  margin-top: 24px;
}
.save-button a:visited,
.save-button a:hover,
.save-button a,
.save-button a:active {
  text-decoration: none;
}
@media (max-width: 500px) {
  .item-create {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 67vh;
    column-gap: 25px;
  }
  .item-container-create {
  height: 100%;
  }
  .name-container-create,
  .category-container-create,
  .season-container-create,
  .color-container-create,
  .notes-container-create,
  .image-container-create {
    display: grid;
    min-height: 5vh;
    max-width: 70vw;
    margin-left: 12%;
  }
  .button-container-create {
    padding: 0.2rem 45px;
    margin-top: 3%;
    margin-left: 11%;
  }
  .save-button {
    padding: 0.2rem 45px;
    margin: 0;
  }
}
