.item-edit {
  border: 1px solid red;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
.image-edit-container {
  border: 1px solid pink;
  display: flex;
  flex-direction: row;
}
.item-edit-image {
  border: 1px solid rebeccapurple;
  width: 300px;
}
.item-edit-container {
  border: 1px solid palevioletred;
}
.edit-input-image-link {
  border: 1px solid royalblue;
}
.edit-form {
  border: 1px solid sandybrown;
}
.input-name {
  border: 1px solid aqua;
}
.input-category {
  border: 1px solid chartreuse;
}
.input-season {
  border: 1px solid indigo;
}
.input-color {
  border: 1px solid coral;
}
.input-category {
  border: 1px solid darkgrey;
}
.textarea-notes {
  border: 1px solid hotpink;
  display: flex;
  flex-direction: column;
}
.save-button {
  border: 1px solid thistle;
}