.sign-in {
  font-family: "Catamaran", sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.sign-in-button {
  color: white;
  background-color: black;
  margin-top: 6%;
  border-radius: 24px;
  padding: 0.25rem 98px;
  font-family: "Catamaran", sans-serif;
  box-shadow: 3px 3px 8px grey;
  cursor: pointer;
  font-weight: 600;
  font-size: 19px;
}

.sign-in input {
  width: 250px;
  padding: 4px;
  border: 1px solid #ccc;
}

.sign-up-link {
  text-decoration: none;
  color: black;
  padding-right: 20px;
  font-family: "Catamaran", sans-serif;
  font-weight: 100;
  font-size: 16px;
  margin-top: 4%;
  display: inline-block;
}

.sign-up-link:hover {
  text-decoration: underline;
  text-decoration-color: #6AA6A3;
  color: black;
}

.sign-in-email {
  margin-bottom: 2%;
}

.sign-in-error {
  color: red;
  font-size: 15px;
  margin-bottom: 0;
}

@media (max-width: 500px) {
  .sign-in {
    min-height: 74vh;
  }
}