.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-family: "Catamaran", sans-serif;
}
.hero-image {
  width: 70%;
}
.instructions-container {
  display: flex;
  width: 70%;
}
.digitize-text {
  font-size: 36px;
  margin: 45px;
  font-weight: normal;
}
.step-numbers {
  font-family: "Poiret One", sans-serif;
  font-size: 65px;
  color: #6aa6a3;
  margin-right: 35px;
}
.number-and-icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.heading-and-description {
  width: 100%;
}
.step-headings {
  font-size: 26px;
  margin-bottom: auto;
}
.step-descriptions {
  font-size: 18px;
  margin: 0;
}
.step-1,
.step-2,
.step-3 {
  width: 33%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
}
.start-button {
  background-color: black;
  color: white;
  font-family: "Catamaran";
  font-size: 24px;
  font-weight: 700;
  border-radius: 24px;
  padding: 10px;
  width: 250px;
  margin: 50px 0 30px;
  box-shadow: 3px 3px 8px grey;
}
.marketing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.why-section {
  display: flex;
  align-items: center;
}
.why-description {
  font-size: 22px;
  margin-left: 36px;
}
.citations {
  text-decoration: none;
  color: black;
  text-shadow: 2px 2px 1px lightgrey;
}
.slogan {
  font-family: "Poiret One";
  font-size: 44px;
  margin: 40px;
  color: #6aa6a3;
  text-shadow: 2px 3px 2px lightgrey;
  text-align: center;
}
.final-sell {
  text-align: center;
  font-size: 22px;
  letter-spacing: 2px;
}
.final-ask {
  text-align: center;
  font-size: 22px;
}
.encapsulated-button {
  background-color: black;
  color: white;
  font-family: "Catamaran";
  font-size: 24px;
  font-weight: 700;
  border-radius: 24px;
  padding: 10px;
  width: 375px;
  margin: 50px 0;
  box-shadow: 3px 3px 8px grey;
}

@media screen and (max-width: 1025px) {
  /*.step-icon {
    width: 100px;
  }
   .instructions-container {
    width: 70%;
  } */
  /* .large-logo{
    width: 300px;
  }
  .signup-input{
    width: 100%;
    align-self: center;
    border: 2px lightgrey solid;
    border-radius: 4px;
  } */
}
